.bar-graph {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: visible;
  margin-bottom: 2vh;
  height: 100%;
}

.bar-graph > .x-axis > .tick > line,
.bar-graph > .y-axis > .tick > line,
.bar-graph-labels > .tick line {
  visibility: hidden;
}

.bar-graph > .x-axis > .tick {
  font-family: Palatino;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;

  color: #000000;

  opacity: 0.7;
}

.grid-lines line {
  stroke: 1px solid #E7EBF1;
  shape-rendering: crispEdges;
  stroke-opacity: 0.1;
}

.bar-graph-tick {
  font-size: 12px;
  font-weight: 400;
  font-family: Palatino;
  letter-spacing: -0.25px;

  color: #000000;
  opacity: 0.1;
}

.bar-graph-labels {
  font-family: Palatino;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;

  color: #000000;

  opacity: 0.7;
}

.bar-graph-caption,
.arc-graph > .arc-text {
  font-family: Palatino;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.25px;

  color: #000000;

  opacity: 0.7;
}

.arc-graph-labels {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.25px;

  opacity: 0.7;
}

.arc-graph {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: visible;
  margin-bottom: 2vh;
  height: 100%;
}
