@font-face {
    font-family: 'Palatino';
    src: url('../public/assets/fonts/PalatinoRoman.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'PalatinoBold';
  src: url('../public/assets/fonts/PalatinoBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoBoldItalics';
  src: url('../public/assets/fonts/PalatinoBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PalatinoItalic';
  src: url('../public/assets/fonts/PalatinoItalic.ttf');
  font-weight: normal;
  font-style: italic;
}