.volume-graph {
  position: absolute;
  left: 0;
  top: 0;
  overflow: 'visible';
}

.volume-graph-tick {
  font-size: 14px;
  font-weight: 400;
  font-family: Palatino;
  letter-spacing: -0.25px;

  color: #000000;
  opacity: 0.5;
}

.volume-graph-tick > .tick > line {
  visibility: hidden;
}

.volume-graph-caption {
  font-family: Palatino;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.25px;

  color: #000000;

  opacity: 0.7;
}
